body {
  text-align: center;
}
.container {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 350px;
}
.container img {
  width: 150px;
}
form {
  display: inline-grid;
}
input[type="submit"] {
  margin-top: 10px;
}
h3 {
  margin-top: 10px;
  margin-bottom: 5px;
}
